<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.timesnewswire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.QUICKBOOT_POWERON" />

    <application
            android:name=".core.App"
            android:icon="@mipmap/notification_icon"
            android:roundIcon="@mipmap/notification_icon_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme.NoActionBar"
            tools:ignore="AllowBackup, GoogleAppIndexingWarning, InnerclassSeparator">

        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name=".activities.WebViewActivity"
            android:theme="@style/AppTheme.NoActionBar"/>

        <receiver android:name=".core.AlertReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
            </intent-filter>
        </receiver>

    </application>
</manifest>